.sectionContainer {
	height: 100%;
}

.profile {
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

.mainInfo {
	width: 65%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.portrait {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.bio {
	text-align: center;
	font-size: 36px;
	line-height: 1;
}

.social ul {
	list-style-type: none;
	/* display: inline-block; */
	display: flex;
	margin-left: 0;
	justify-content: center;
}

.social ul > li {
	margin: 5px;
}

.social li a {
	text-decoration: none;
	color: #777;
}

.tw a:hover {
	color: #00a3ec;
}

.ig a:hover {
	color: #cd486b;
}
.gh a:hover {
	color: #4078c0;
}

.yt a:hover {
	color: #f00;
}

.md a:hover {
	color: #00ab72;
}

/* Here LI stands for LINKEDIN */
.li a:hover {
	color: #08131a;
}

.socialItem {
	font-size: 30px;
}

.social .social-ig {
}
.social .social-yt {
}
.social .social-md {
}
.social .social-li {
}

.gridRow {
	display: grid;
}
